* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header {
  background: url(../images/back.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .header__blocktitle {
  z-index: 5;
  position: absolute;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 5px;
  color: #fff;
  -webkit-filter: drop-shadow(0px 0px 5px #000);
          filter: drop-shadow(0px 0px 5px #000);
  -webkit-animation: text 2s;
          animation: text 2s;
}

@-webkit-keyframes text {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-95px);
            transform: translateY(-95px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes text {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-95px);
            transform: translateY(-95px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
.section {
  -webkit-filter: drop-shadow(0px 0px 15px #000);
          filter: drop-shadow(0px 0px 15px #000);
  background: #000;
  color: #fff;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  margin-top: 105px;
}

.section__blockhomework {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 75px;
}

.section__work {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: #420e3b;
  width: 450px;
  border: 3px solid #300741;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #a91dad;
  height: 250px;
  margin: 25px 25px;
  margin-bottom: 55px;
}
.section__work:hover {
  background-color: #da1ee0;
}
.section__work:nth-child(2) {
  color: #103e46;
  border: 3px solid #06343a;
  background-color: #2e9fc2;
}
.section__work:nth-child(2):hover {
  color: #103e46;
  border: 3px solid #06343a;
  background-color: #1dbbeb;
}
.section__work:nth-child(3) {
  color: #65661b;
  border: 3px solid #222102;
  background-color: #dfdb16;
}
.section__work:nth-child(3):hover {
  color: #9c9e27;
  border: 3px solid #202202;
  background-color: #fffb01;
}
.section__work:nth-child(4) {
  color: #0e3f42;
  border: 3px solid #073d41;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #1d90ad;
}
.section__work:nth-child(4):hover {
  background-color: #1ec3e0;
}

.section__homework {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section__homework .section__text {
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 35px;
  margin-bottom: 25px;
  color: #d9edff;
}

.section__blockinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}